Fabric==1.8.1
Flask==0.10.1
Flask-Cors==1.9.0
Flask-OpenID==1.2.2
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
cssselect==0.9.1
ecdsa==0.13.3
elasticsearch==1.2.0
itsdangerous==0.24
lxml==3.4.0
paramiko==1.15.1
peewee==2.3.3
psycopg2==2.5.4
pycrypto==2.6.1
pyquery==1.2.9
python-dateutil==2.2
python-openid==2.2.5
redis==2.10.3
requests==2.4.3
six==1.8.0
urllib3==1.9.1
wsgiref==0.1.2
xmltodict==0.9.0
