{% extends "maz/base.html" %}
{% block content %}
<div class="page-toolbar">                        
    <div class="page-toolbar-block">
        <div class="page-toolbar-subtitle">Estimated Steam Community Market Value (dollars)</div>
    </div> 
</div>
<div class="block-wide">                                             
    <div id="dashboard-chart" style="height: 250px; width: 100%; float: left; background-color: #e5e5e5"></div>
    <div class="chart-legend">
        <div id="dashboard-legend"></div>
    </div>
</div>

<div class="page-rest">
    <div class="row">
        <div class="col-md-4">
            <div class="widget-pie">
                <div class="widget-pie-info">
                    <div class="widget-pie-info-num"><span id="stat-unique">0</span></div>
                    <div class="widget-pie-info-text">Total Unique Items</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget-pie">
                <div class="widget-pie-info">
                    <div class="widget-pie-info-num"><span id="stat-listed">0</span></div>
                    <div class="widget-pie-info-text">Total Listed Items</div>
                </div>
            </div>                            
        </div>
        <div class="col-md-4">
            <div class="widget-pie">
                <div class="widget-pie-info">
                    <div class="widget-pie-info-num">$<span id="stat-value">0</span></div>
                    <div class="widget-pie-info-text">Estimated Market Value</div>
                </div>
            </div>                            
        </div>                        
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="block">
                <div class="block-content">
                    <h3>
                        Maz is the Fort's dashboard to an extensive database of crawled data from the Steam Community Market. Using Maz, you can easily track the value and volume of common items within the market, or run complex aggregation queries to gain understanding of trends and changes within the market. Maz also provides an extensive backend <a href="/api">API</a>, which is free for anyone to use and access.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="http://{{ DOMAIN }}/static/js/maz.js"></script>
{% endblock %}