{% extends "maz/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div id="community-alert" class="alert alert-danger" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Uh Oh!</strong> The Steam Community is experiencing some issues right now! Only a cached version of your player inventory will be availbile, and some other data may be expired or innaccurate. Please keep in mind that we have no control over the Steam Community, and must wait for Valve to address all stability issues.
        </div>
    </div>
</div>

<div class="page-rest">
    <div class="row">
        <div class="col-md-3">
            <div class="block">
                <div class="block-content" style="text-align: center">
                    <img src="/image/{{ item.id }}" class="img-circle">
                    <h1>{{ item.name }}</h1>
                </div>
            </div>
            {% if family|length %}
                <div class="block">
                    <div class="block-content">
                        <h2>Other Wears</h2>
                    </div>
                    <div class="block-content list">
                        {% for x in family %}
                        <a href="/item/{{ x.id }}">
                        <div class="list-item" style="height: 30px;">
                            <div class="list-item-content">
                                <h1 style="font-size: 22px">{{ x.wear|title }} @ {{ x.mipp.median }}</h1>
                            </div>                                        
                        </div>
                        </a>
                        {% endfor %}
                    </div>                                
                </div>
            {% endif %}
        </div>
        <div class="col-md-9">
            <div class="block">
                <div class="block-content">                                    
                    <h2>Estimated Item Price</h2>
                    {% if (item.mipp.median - 360) > 0 %}
                        <h4><i>Keep in mind, the maximum stored price for an item is 400$, so items at or around that value may appear undervalued.</i></h4>
                    {% endif %}
                    <div id="charts-lines" style="margin-top: 5px"></div>                                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        var ITEM_ID = "{{ item.id }}"
    </script>
    <script src="http://{{ DOMAIN }}/static/js/maz.js"></script>
{% endblock %}