{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-4 col-sm-6" id="stats" style="display:none">
        <div class="info_box_var_1 box_bg_a">
            <div class="info_box_body">
                <span class="info_box_icon icon_group"></span>
                <span id="stat-unique">0</span>
            </div>
            <div class="info_box_footer">
                Total Unique Items
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="info_box_var_1 box_bg_b">
            <div class="info_box_body">
                <span class="info_box_icon icon_cart_alt"></span>
                <span id="stat-listed">0</span>
            </div>
            <div class="info_box_footer">
                Total Listed Items
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="info_box_var_1 box_bg_c">
            <div class="info_box_body">
                <span class="info_box_icon icon_wallet"></span>
                $<span id="stat-value">0</span>
            </div>
            <div class="info_box_footer">
                Global Market Value
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-wrapper">
            <p class="lead">
                Welcome to the CSGO Fort Market! Here you can dive into a deep set of crawled market data from the Steam Community Market. The Fort Market provides you with an extensive tool set for querying and analysing all of our historical and analytical data. Along with a public interface, the Fort Market also has a backend API that can be plugged into to get even more data and information, without having to write your own custom Steam Market crawlers. TODO: api about page
            </p>
        </div>
        <div class="col-wrapper">
            <div class="heading_a">
                <span class="heading_text">Overall Steam Market Value (7-days)</span>
            </div>
            <div id="market_value"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="http://{{ DOMAIN }}/static/js/market.js"></script>
{% endblock %}