{% extends "base.html" %}
{% block header_links %}
<li {% if request.path == "/" %} class="active" {% endif %}><a href="{{ build_url('admin', '') }}">Home</a></li>
<li {% if request.path == "/users" %} class="active" {% endif %}><a href="{{ build_url('admin', 'users') }}">Users</a></li>
<li {% if request.path == "/postgres" %} class="active" {% endif %}><a href="{{ build_url('admin', 'postgres') }}">Postgres</a></li>
{% endblock %}
{% block scripts %}
    <script src="http://{{ DOMAIN }}/static/js/admin.js"></script>
{% endblock %}