{% extends "admin/base.html" %}
{% block content %}
<div class="row"><div class="col-md-12" id="alerts"></div></div>
<div class="row">
    <div class="col-md-4">
        <div class="widget-pie">
            <div class="widget-pie-info">
                <div class="widget-pie-info-num" id="stat-users">?</div>
                <div class="widget-pie-info-text">Total Users</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="widget-pie">
            <div class="widget-pie-info">
                <div class="widget-pie-info-num" id="stat-qps">?</div>
                <div class="widget-pie-info-text">Postgres QPS</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="widget-pie">
            <div class="widget-pie-info">
                <div class="widget-pie-info-num">?</div>
                <div class="widget-pie-info-text">TBD</div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
