{% extends "admin/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-head">
                <div class="block-title">Users</div>
            </div>
            <div class="block-content">
                <table class="table" id="users-table">
                     <thead>
                        <tr>
                            <th>ID</th>
                            <th>Steam ID</th>
                            <th>Username</th>
                            <th>Level</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="users-body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="user-modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3"><strong>User Level:</strong></div>
                    <div class="col-md-9">
                        <select class="form-control" id="user-level">
                            <option value="0">Normal User</option>
                            <option value="100">Super User</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="user-modal-save" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}