<tr data-id="<%= v.id %>">
    <td><a href="/tracked/<%= v.id %>">
        <img height="32px" src="http://auth.<%= CONFIG.DOMAIN %>/avatar/<%- v.steamid %>" class="img-square pull-left">
    </a></td>
    <td><a href="/tracked/<%= v.id %>"><%= v.nickname %></a></td>
    <td>
        <% if (!v.bans.vac) { %>
            <i class="fa fa-check fa-large success"></i>
        <% } else { %>
            <i class="fa fa-times fa-large danger"></i>
        <% } %>
    </td>
    <td>
        <% if (!v.bans.community) { %>
            <i class="fa fa-check fa-large success"></i>
        <% } else { %>
            <i class="fa fa-times fa-large danger"></i>
        <% } %>
    </td>
    <td>
        <% if (!v.bans.trade) { %>
            <i class="fa fa-check fa-large success"></i>
        <% } else { %>
            <i class="fa fa-times fa-large danger"></i>
        <% } %>
    </td>
</tr>
