<!DOCTYPE html>
<html lang="en">
    <head>        
        <title>CSGO Fort - {{ REALM|title }}</title>    

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />        
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link href="http://{{ DOMAIN }}/static/css/styles.css" rel="stylesheet" type="text/css" />        
        <!--[if lt IE 10]><link rel="stylesheet" type="text/css" href="http://{{ DOMAIN }}/static/css/ie.css"/><![endif]-->       

        <script>
            var CONFIG = {
                DOMAIN: "{{ DOMAIN }}",
                REALM: "{{ REALM }}"
            }
        </script> 
    </head>
    <body>
        
        <div class="page-container">
            <div class="top-menu">

            </div>

            <div class="page-head">
                <ul class="page-head-elements">
                    <li id="top-menu-toggle"><h1 style="color: white; padding-top: 10px; padding-right: 5px; padding-left: 5px;">{{ REALM|title }}</h1></li>
                    {% block header_links %}
                    {% endblock %}
                </ul>

                <ul class="page-head-elements pull-right">
<!--                     <li>
                        <div class="informer informer-pulsate">5</div>
                        <a href="index.html#" class="dropdown"><span class="fa fa-comments"></span></a>                        
                    </li>
                     -->
                    <li><a class="page-sidebar-toggle"><span class="fa fa-tasks"></span></a></li>
                </ul>
                
            </div>
            <div class="page-content">
                <div class="container">
                    {% block content %}
                    {% endblock %}

                </div>
                
            </div>
            <div class="page-sidebar"></div>
        </div>

        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>        
        
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/sparkline/jquery.sparkline.min.js"></script>        
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/fancybox/jquery.fancybox.pack.js"></script>                

        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/rickshaw/d3.v3.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/rickshaw/rickshaw.min.js"></script>
        
        <script type='text/javascript' src='http://{{ DOMAIN }}/static/js/plugins/knob/jquery.knob.js'></script>
        
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/daterangepicker/moment.min.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/daterangepicker/daterangepicker.js"></script> 
        
        <script type='text/javascript' src='http://{{ DOMAIN }}/static/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
        <script type='text/javascript' src='http://{{ DOMAIN }}/static/js/plugins/jvectormap/jquery-jvectormap-europe-mill-en.js'></script>
        
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins.js"></script>        
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/demo.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/maps.js"></script>        
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/charts.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/actions.js"></script>

        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="http://{{ DOMAIN }}/static/js/app.js"></script>

        {% block scripts %}
        {% endblock %}

        <script>
            $(function() {
                app.setup_top_menu();
                app.run("{{ request.path }}");
            })
        </script>
    </body>
</html>
