<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CSGO Fort - {{ REALM|title }}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="http://{{ DOMAIN }}/static/css/styles.css" rel="stylesheet" type="text/css" />
        <!--[if lt IE 10]><link rel="stylesheet" type="text/css" href="http://{{ DOMAIN }}/static/css/ie.css"/><![endif]-->

        <script>
            var CONFIG = {
                DOMAIN: "{{ DOMAIN }}",
                REALM: "{{ REALM }}",
                USER: {% if g.user %}{{ g.user.toDict()|jsonify|safe }}{% else %}{id: -1}{% endif %},
                SYM: "$"
            }
        </script>
    </head>
    <body>

        <div class="page-container">
            <div class="top-menu">

            </div>

            <div class="page-head">
                <ul class="page-head-elements">
                    <li id="top-menu-toggle"><h1 style="color: white; padding-top: 10px; padding-right: 5px; padding-left: 5px;">{{ REALM|title }}</h1></li>
                    {% block header_links %}
                    {% endblock %}
                </ul>

                <ul class="page-head-elements pull-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if g.user %}
                                <img height="32px" src="http://auth.{{ DOMAIN }}/avatar/{{ g.user.steamid }}" class="img-circle pull-left">
                            {% else %}
                                <span class="glyphicon glyphicon-user"></span>
                            {% endif %}
                      </a>
                      <ul class="dropdown-menu" style="margin-top: 15px; margin-right: 10px">
                        {% if g.user %}
                            {% if g.user.level >= 100 %}
                                <li><a href="{{ build_url("admin", "") }}">Admin</a></li>
                            {% endif %}
                            <li><a href="{{ build_url("auth", "") }}">Settings</a></li>
                            <li><a href="{{ build_url("auth", "logout") }}">Logout</a></li>

                        {% else %}
                            <li><a href="{{ build_url("auth", "login") }}?next={{ build_url(REALM, "") }}">Login</a></li>
                        {% endif %}

                      </ul>
                    </li>
                </ul>

            </div>
            <div class="page-content">
                <div class="container">
                    {% block content %}
                    {% endblock %}

                </div>

            </div>
            <div class="page-sidebar"></div>
        </div>

        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/sparkline/jquery.sparkline.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/fancybox/jquery.fancybox.pack.js"></script>

        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/rickshaw/d3.v3.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/rickshaw/rickshaw.min.js"></script>

        <script type='text/javascript' src='http://{{ DOMAIN }}/static/js/plugins/knob/jquery.knob.js'></script>

        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/daterangepicker/moment.min.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/daterangepicker/daterangepicker.js"></script>

        <script type='text/javascript' src='http://{{ DOMAIN }}/static/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
        <script type='text/javascript' src='http://{{ DOMAIN }}/static/js/plugins/jvectormap/jquery-jvectormap-europe-mill-en.js'></script>

        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/demo.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/maps.js"></script>
        <!--<script type="text/javascript" src="http://{{ DOMAIN }}/static/js/charts.js"></script>-->
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/actions.js"></script>

        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/noty/jquery.noty.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/plugins/noty/themes/default.js"></script>
        <script type='text/javascript' src='http://{{ DOMAIN }}/static/js/plugins/noty/layouts/topRight.js'></script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/money.js/0.1.3/money.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/templates.js"></script>
        <script type="text/javascript" src="http://{{ DOMAIN }}/static/js/app.js"></script>
        {# Include GA tracking on prod #}
        {% if PROD %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-55634999-1', 'auto');
          ga('require', 'displayfeatures');
          ga('send', 'pageview');
          {% if g.user %}
            ga('set', '&uid', '{{ g.user.id }}');
          {% endif %}

        </script>
        {% endif %}

        {% block scripts %}
        {% endblock %}

        <script>$(function(){app.run("{{ request.path }}")})</script>
    </body>
</html>
