<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CSGO Fort</title>
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="/static/css/main.min.css" rel="stylesheet" media="screen">
        <style>.topcolor {position: fixed;height: 10px;width: 34%;top: 0px;}</style>
    </head>
    <body class="error_page">
        <div id="top1" class="topcolor"></div>
        <div id="top2" style="left: 33%" class="topcolor"></div>
        <div id="top3" style="left: 66%" class="topcolor"></div>
        <div id="error_wrapper">
            <div id="error_wrapper_inner">
                <h1 class="error_heading">CSGO Fort</h1>
                <h2 class="error_subheading">A new platform built around trading, betting, market analytics, statistics, built with love by and for the CSGO community.</h2>
                <h4><i>Coming Late 2014</i></h4>
            </div>
        </div>

        <script src="http://{{ DOMAIN }}/static/js/jquery.min.js"></script>
        <script src="http://{{ DOMAIN }}/static/js/landing.js"></script>
    </body>
</html>