
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CSGO Fort</title>
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

        <!-- bootstrap framework -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <!-- google webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- main stylesheet -->
        <link href="/static/css/main.min.css" rel="stylesheet" media="screen">

    </head>
    <body class="error_page">

        <div id="error_wrapper">
            <div id="error_wrapper_inner">
                <h1 class="error_heading">CSGO Fort</h1>
                <h2 class="error_subheading">A fresh new platform for trading, betting, analytics, and more, coming soon!</h2>
            </div>
        </div>
    </body>
</html>