{% extends "base.html" %}
{% block header_links %}
{% endblock %}
{% block content %}
<div class="row"><div class="col-md-12" id="alerts"></div></div>
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content">
                <h2>Settings</h2>
                <p>These settings apply to all CSGOFort apps.</p>
            </div>
            <div class="block-content controls">
                <div class="row-form">
                    <div class="col-md-3"><strong>Currency</strong></div>
                    <div class="col-md-9">
                        <select id="currency" value="USD" class="form-control">
                            
                        </select>
                    </div>
                </div>
            </div>
            <div class="block-footer">
                <div class="pull-right">                                                                                    
                    <button class="btn btn-success" id="save" type="submit">Submit</button>                                        
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="http://{{ DOMAIN }}/static/js/auth.js"></script>
{% endblock %}
